{% extends "apps/layout.html" %}

{% block body %}

<h2 style="text-align:center; margin-top: 100px;">Answers</h2>
<div class="container">
    <div class="form-group">
    <textarea class="form-control jTextarea" id="jTextarea'" rows="3" >{{ context }}</textarea>
    <br>
    Question: <textarea class="form-control jTextarea" id="jTextarea'" rows="1" >{{ question }}</textarea>
    <br>
    Answer: <textarea class="form-control jTextarea" id="jTextarea'" rows="1">{{ answer }}</textarea>
    <span><small>with confidence {{ score }}</small></span>
</div>
</div>
<script>
    $("#004").addClass("active");
</script>

{% endblock %}