{% extends "apps/layout.html" %}

{% block body %}
<div style="text-align:center;">
    <h2 style="margin-top: 100px;">Word Predictor</h2>
    <div class="container" style="margin-top: 5em">
        <form action="{% url 'apps:mask2' %}" method="POST">
            {% csrf_token %}
            <input type="text" name="ContextAbove" placeholder="ContextAbove" id="btnAbove">
            <input type="text" name="ContextBelow" placeholder="ContextBelow" id="btnBelow"> 
            <br>
            <button type="submit" class="btn btn-warning mt-5">Submit</button>
        </form>   
    </div>
</div>
<script>
    $("#002").addClass("active");
</script>
{% endblock %}