{% extends "apps/layout.html" %}

{% block body %}

<h2 style="text-align:center; margin-top: 100px;">Text generation</h2>
<div class="container">
    <form action="{% url 'apps:textgenerator' %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <textarea class="form-control jTextarea" id="jTextarea'" rows="5" name="prompt"
                placeholder="Write your text here..." required>{{ text }}</textarea>
        </div>
        Length: <input style="margin-top: 3em" type="number" placeholder="Max length" name="length" max="300"
            value="30">
        <br>
        <button class="btn btn-warning" type="submit">Submit</button>
    </form>
    {% if result %}
    Generated text: <textarea class="form-control jTextarea" id="jTextarea'" rows="3">{{ result }}</textarea>
    {% endif %}
</div>
<script>
    $("#001").addClass("active");
</script>
{% endblock %}