{% extends "apps/layout.html" %}

{% block body %}

<section class="introduction">
	<h1 class="heading">Introduction</h1>
	<p>I&rsquo;m Fangyi Yu. You can call me Elaine.</p> 
    <p>I&rsquo;m a Machine Learning researcher who loves <strong>good algorithems</strong>, <strong>good food</strong>, and <strong>good people</strong>. I am currently a master's student in Computer Science at Ontario Tech University &#127464;&#127462; researching AI applications in CyberSecurity and working as a research assistant and teaching assistant.</p>
	<p>Apart from net security, I am passionate about Natural Language Processing. I'm excited to present this side project of me, the NLP web application, to the public. Feel free to connect with me if you are interested in my other works or have any job or research opportunities available.</p>
	<p><strong>Note: </strong>All applications on the navigation bar would load for a while since the machine learning models on the backend needs some time to converge on a CPU. Yeah, these models are not trained on a GPU or TPU unfortunately.</p>
</section>
<section class="location">
	<h1 class="heading">Where I&rsquo;m From</h1>
	<p>I&rsquo;m from China, specifically - Yingtan, a small city in the mid-south &#127464;&#127475; I have been living in Canada since September 2019 and start a family here; I love the spacious fields, the smell of the outdoors, and the people in Canada. 
</section>
<section class="questions">
	<h1 class="heading">More About Me</h1>
	<dl class="question-list">
		<dt class="question">What are your favorite hobbies?</dt>
		<dd class="answer">I&rsquo;m a huge traveller and a hiker, I also <strong>LOVE</strong> food. I&rsquo;m always trying new cuisine. Foodies unite!</dd>
		<dt class="question">What&rsquo;s your dream job?</dt>
		<dd class="answer">Realistically, a data scientist or a university professor. I also want to be a farmer, living with flowers, veggies, and animals! Yeah, maybe when I retire&#128541;</dd>
		<dt class="question">What&rsquo;s your background?</dt>
		<dd class="answer">I&rsquo;ve been programming since ten years ago when I did my bachelor's degree in Mathematics. Five years of job experience in banking and two years of technical job experience working as a research associate in getting my hands dirty with data, designing, building and deploying machine learning models.</dd>
		<dt class="question">Where have you been travelling to?</dt>
		<dd class="answer">I&rsquo;ve been to New Zealand, Australia, Spain, America, Mexico, Vietnam, Japan, Singapore, Malaysia, Fiji, Hongkong, Taiwan, Macao, Thailand, Canada, of course&#128521;  And many, many beautiful cities in China. I want to explore every spot of the Earth with my loved ones! Would be better if outside of the Earth!</dd>
	</dl>
</section>
<footer class="content-footer">
    <p class="body-copy">Say hi to me on these social networks:</p>
    <ul class="social">
        <li><a href="https://github.com/fangyiyu" target="_blank">Github</a></li>
        <li><a href="https://www.linkedin.com/in/fangyiyu/" target="_blank">Linkedin</a></li>
        <li><a href="mailto:yufangyi1@gmail.com" target="_blank">Gmail</a></li>
    </ul>
</footer>
{% endblock %} 