{% extends "apps/layout.html" %}

{% block body %}

<h2 style="text-align:center; margin-top: 100px;">Text Summarization</h2>
<div class="container">
    <form action="{% url 'apps:summarize2' %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <textarea maxlength="512" class="form-control jTextarea" id="jTextarea'" rows="3" name="abstract"
                placeholder="Write your text here..." required></textarea>
        </div>
        <button class="btn btn-warning" type="submit">Submit</button>
</div>
</form>
<script>
    $("#003").addClass("active");
</script>
{% endblock %}