{% extends "apps/layout.html" %}

{% block body %}


<h2 style="text-align:center; margin-top: 100px;">Machine Translation</h2>
<div class="container">
    <div class="form-group">
    Original Text in English: <textarea class="form-control jTextarea" id="jTextarea'" rows="3">{{ text }}</textarea>
    <br>
    Translated text in French: <textarea class="form-control jTextarea" id="jTextarea'" rows="3">{{ result }}</textarea>
</div>
</div>

<script>
    $("#006").addClass("active");
</script>

{% endblock %}